DELETE FROM "imported_telligent_users"
 USING "imported_telligent_users" t1
  LEFT OUTER JOIN "users" t2
    ON t1."nodebb_user_id" = t2."uid"
 WHERE t1."telligent_user_id" = "imported_telligent_users"."telligent_user_id"
   AND t1."nodebb_user_id" IS NOT NULL
   AND t2."uid" IS NULL;
