DELETE FROM "imported_discourse_topics"
 USING "imported_discourse_topics" t1
  LEFT OUTER JOIN "topics" t2
    ON t1."nodebb_topic_id" = t2."tid"
 WHERE t1."discourse_topic_id" = "imported_discourse_topics"."discourse_topic_id"
   AND t1."nodebb_topic_id" IS NOT NULL
   AND t2."tid" IS NULL;
