ALTER TABLE "imported_discourse_topics"
  ADD CONSTRAINT "fk__imported_discourse_topics__nodebb_topic_id"
      FOREIGN KEY ("nodebb_topic_id")
      REFERENCES "topics"("tid")
      ON DELETE CASCADE;
