ALTER TABLE "imported_telligent_categories"
  ADD CONSTRAINT "fk__imported_telligent_categories__nodebb_category_id"
      FOREIGN KEY ("nodebb_category_id")
      REFERENCES "categories"("cid")
      ON DELETE CASCADE;
