CREATE TABLE "imported_discourse_rooms" (
	"discourse_room_id" bigint NOT NULL,
	"nodebb_room_id" bigint NOT NULL
);

INSERT INTO "imported_discourse_rooms" SELECT
       i."value"::bigint "discourse_room_id",
       i."score"::bigint "nodebb_room_id"
  FROM "objects_legacy" i
 WHERE i."key0" = '_imported'
   AND i."key1" = ARRAY['_rooms'];

ALTER TABLE "imported_discourse_rooms" ADD PRIMARY KEY ("discourse_room_id");

ALTER TABLE "imported_discourse_rooms"
      CLUSTER ON "imported_discourse_rooms_pkey";
