CREATE TABLE "imported_discourse_categories" (
	"discourse_category_id" bigint NOT NULL,
	"nodebb_category_id" bigint NOT NULL
);

INSERT INTO "imported_discourse_categories" SELECT
       i."value"::bigint "discourse_category_id",
       i."score"::bigint "nodebb_category_id"
  FROM "objects_legacy" i
 WHERE i."key0" = '_imported'
   AND i."key1" = ARRAY['_categories'];

ALTER TABLE "imported_discourse_categories" ADD PRIMARY KEY ("discourse_category_id");

ALTER TABLE "imported_discourse_categories"
      CLUSTER ON "imported_discourse_categories_pkey";
