CREATE TABLE "imported_telligent_posts" (
	"telligent_post_id" bigint NOT NULL,
	"nodebb_post_id" bigint NOT NULL
);

INSERT INTO "imported_telligent_posts" SELECT
       i."value"::bigint / 2 "telligent_post_id",
       i."score"::bigint "nodebb_post_id"
  FROM "objects_legacy" i
 WHERE i."key0" = '_imported'
   AND i."key1" = ARRAY['_topics']
   AND i."value"::bigint % 2 = 0;

ALTER TABLE "imported_telligent_posts" ADD PRIMARY KEY ("telligent_post_id");

ALTER TABLE "imported_telligent_posts"
      CLUSTER ON "imported_telligent_posts_pkey";
